#extension-container {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  width: 235px;
  min-height: 200px;
  height: auto;
  background-color: white;
  border: 1px solid #ddd;
  z-index: 9999;
  border-radius: 0 0 0 15px;
  padding-left: 10px;
  overflow: hidden;
}

.label-name,
#radio-container,
#speaker-field,
.switch-label {
  background-color: white;
  border-radius: 3px;
  color: black;
  font-family: Arial, sans-serif;
  padding-left: 5px;
}
.label-name {
  cursor: pointer;
  transition: font-size 0.2s ease, transform 0.2s ease;
}
.label-name:active {
  font-size: 0.9em;
}

#speaker-field {
  height: 12px;
  margin-top: 0;
  padding-bottom: 5px;
  white-space: pre-line;
}

#start-button,
#next-name {
  display: flex;
  align-items: center;
}
.bottom-block {
  display: flex;
  gap: 5px;
}
.bottom-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}
.bottom-buttons button {
  margin-top: 10px;
  width: 125px;
}

.progress-bar-circle {
  stroke-dasharray: 251;
  stroke-dashoffset: 251;
  transform-origin: center;
  transform: rotate(-90deg);
  transition: stroke-dashoffset 2s;
}
.progress-bar {
  position: relative;
}
.progress-bar p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.progress-text {
  color: black;
}

.side-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  height: 70px;
  top: 30px;
  right: -1px;
}
#form-create-list {
  display: none;
  position: absolute;
  background-color: white;
  text-align: center;
  padding-top: 10px;
  top: 0;
  right: 1px;
}

.input-names {
  width: 150px;
  height: 70px;
  resize: none;
}
.input-names::placeholder {
  font-family: Arial, sans-serif;
}

.list {
  min-height: 120px;
  width: 90%;
  padding-top: 5px;
}

.opened-boards-icon {
  transform: rotate(90deg);
}
.collapsed-boards-icon {
  transform: rotate(270deg);
}
.open-boards-svg.black-color-icon {
  stroke: black;
  fill: black;
}
.open-boards-svg.gray-color-icon {
  stroke: gray;
  fill: gray;
}
.open-boards-svg.gray-color-icon circle {
  stroke: gray;
}

/* Стили для радио-кнопок */
#checkbox-container {
  height: 23px;
}

.switch-daily input:checked,
#checkbox-container input:checked {
  accent-color: green;
}

.switch-container {
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 10px;
}

.switch-daily {
  position: relative;
  display: inline-block;
  width: 31px;
  height: 19px;
}

.switch-daily input {
  display: none;
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .switch-slider {
  background-color: green;
}

input:focus + .switch-slider {
  box-shadow: 0 0 1px green;
}

input:checked + .switch-slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.switch-slider.round {
  border-radius: 19px;
}

.switch-slider.round:before {
  border-radius: 50%;
}
/* Стили для switch радио-кнопки */

/* x5 svg */
.x5-svg {
  height: 150px;
  width: 150px;
  position: absolute;
  bottom: -35px;
  right: -20px;
  opacity: 0.06;
  transform: rotate(10deg);
}

/* update svg */
.update-svg {
  height: 15px;
  width: 18px;
  color: white;
  padding-left: 4px;
}

.update-svg.loader-effect {
  animation: rotate 2s linear infinite;
  transform-origin: 62% 53%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* падающий лист */
.leaf {
  position: absolute;
  top: -150px;
  z-index: 999;
}
.leaf svg {
  width: 100px;
  height: auto;
}
/* падающий лист */

/* анимация кнопки bubbly-button */
.bubbly-button {
  z-index: 1000;
  height: 25px;
  display: inline-block;
  -webkit-appearance: none;
  appearance: none;
  background-color: rgb(103, 174, 103);
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s;

  &:hover {
    box-shadow: 0 2px 12px rgba(103, 174, 103, 0.5);
  }

  &:focus {
    outline: 0;
  }

  &:before,
  &:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }

  &:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(
        circle,
        rgb(103, 174, 103) 20%,
        transparent 20%
      ),
      radial-gradient(
        circle,
        transparent 20%,
        rgb(103, 174, 103) 20%,
        transparent 30%
      ),
      radial-gradient(circle, rgb(103, 174, 103) 20%, transparent 20%),
      radial-gradient(circle, rgb(103, 174, 103) 20%, transparent 20%),
      radial-gradient(
        circle,
        transparent 10%,
        rgb(103, 174, 103) 15%,
        transparent 20%
      ),
      radial-gradient(circle, rgb(103, 174, 103) 20%, transparent 20%),
      radial-gradient(circle, rgb(103, 174, 103) 20%, transparent 20%),
      radial-gradient(circle, rgb(103, 174, 103) 20%, transparent 20%),
      radial-gradient(circle, rgb(103, 174, 103) 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%,
      15% 15%, 10% 10%, 18% 18%;
  }

  &:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(
        circle,
        rgb(103, 174, 103) 20%,
        transparent 20%
      ),
      radial-gradient(circle, rgb(103, 174, 103) 20%, transparent 20%),
      radial-gradient(
        circle,
        transparent 10%,
        rgb(103, 174, 103) 15%,
        transparent 20%
      ),
      radial-gradient(circle, rgb(103, 174, 103) 20%, transparent 20%),
      radial-gradient(circle, rgb(103, 174, 103) 20%, transparent 20%),
      radial-gradient(circle, rgb(103, 174, 103) 20%, transparent 20%),
      radial-gradient(circle, rgb(103, 174, 103) 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%,
      20% 20%;
  }

  &:active {
    transform: scale(0.9);
    background-color: darken(rgb(103, 174, 103), 5%);
  }

  &:hover {
    box-shadow: 0 2px 25px rgb(70, 116, 70), 0.2;
  }
}
.bubbly-button:disabled {
  background-color: grey;
  cursor: not-allowed;
  box-shadow: none;
  pointer-events: none;
  opacity: 0.6;
}
/* bubbly-button */

/* подсказка */
#button-form-create-list,
#button-display-release-table,
#open-boards-button {
  cursor: pointer;
}

/* Скрытая подсказка */
.tooltip-container {
  position: relative;
}

.tooltip-container .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #3c3c3c;
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;

  /* Позиционирование относительно .tooltip-container */
  position: absolute;
  z-index: 1;
  right: 100%;
  top: -12px;
  transform: translateX(-10px);
  opacity: 0;
  transition: opacity 0.3s;
}

/* Треугольник для подсказки */
.tooltip-container .tooltip::after {
  content: "";
  position: absolute;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #3c3c3c;
}
/* Показать подсказку при наведении */
.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 0.8;
}
/* Скрываем подсказку при наведении курсора на подсказку */
.tooltip-container .tooltip:hover {
  visibility: hidden;
}

/* Окно для релиз-таблицы */
.table-dialog {
  position: absolute;
  background-color: black;
  border-radius: 10px;
  overflow: auto;
  z-index: 10000;
}
.table-dialog-center {
  max-height: 73vh;
  width: 1100px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.table-dialog-right {
  max-height: 60vh;
  width: 800px;
  bottom: 0;
  right: 0;
}

/* Стили для релиз-таблицы */
.custom-table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-table thead {
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
}

.custom-table th,
.custom-table td {
  padding: 1px 8px;
  border-right: 1px solid #666;
  text-align: left;
}
tr td:first-child {
  min-width: 500px;
}
.table-dialog-right .custom-table tbody tr td:first-child {
  min-width: 390px;
}

.custom-table-row {
  border-bottom: 1px solid #666;
  border-left: 1px solid #666;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #444;
}

.custom-table tbody tr:hover {
  background-color: #555;
  cursor: pointer;
}

/* Стили для ячеек с изображениями */
.custom-table .img-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.custom-table .img-cell img {
  width: 30px;
  height: 30px;
  margin-bottom: 0.5px;
  border-radius: 50%;
  border: 1px solid #666;
}

/* Закрепление верхней строки */
.custom-table-head {
  position: sticky;
  top: 0;
}
.custom-table-head tr th {
  min-height: 30px;
}
.custom-table-head tr th:first-child,
.custom-table-head tr th:last-child {
  display: flex;
  align-items: center;
}

/* Стили для корректного расположения икноки крестика и обновления */
.custom-table-head tr th:last-child {
  min-width: 140px;
  gap: 10px;
  justify-content: space-between;
}

.window-button-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  height: 20px;
  right: 0;
}
.window-button-container svg {
  width: 20px;
  display: block;
}

/* Иконки закрытия и ресайза окна */
.table-close-icon {
  padding-top: 4px;
}
.resize-window {
  transform: rotate(90deg);
  padding-right: 1px;
}
.table-dialog-right .resize-window {
  transform: rotate(270deg);
}
.window-button-container .update-svg {
  height: 17px;
}

.table-close-icon,
.resize-window,
.update-svg,
.copy-button {
  cursor: pointer;
}

.copy-button {
  height: 18px;
  transform: scale(-1, 1);
  margin-left: 5px;
}
/* Стили для релиз-таблицы */

/* Стили для свечи */
.candle-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: sticky;
  height: 0;
  bottom: 0;
}

.candle {
  display: none;
  background: url(https://assets.codepen.io/2015738/candle.png) no-repeat 0px
    0px;
  width: 200px;
  height: 280px;
  animation: candle 6s steps(160) infinite;
  z-index: 6;
}

.short-candle {
  transform: scale(0.35);
  transform-origin: bottom;
}

@keyframes candle {
  0% {
    background-position: 0px 0;
  }
  100% {
    background-position: -32000px 0;
  }
}
/* Стили для свечи */

/* Зимние новогодние стили */
/* Стили для гирлянд пока скрыты */
.christmas-lights {
  display: none;
  position: absolute;
  opacity: 0.6;
  right: -85px;
  bottom: 255px;
  transform: scaleY(0.9) rotate(60deg);
  transform-origin: bottom;
  z-index: -1000;
}

.santa-hat {
  position: absolute;
  width: 50px;
  right: 10px;
  top: -1px;
  transform: scaleX(-1) rotate(15deg);
}
/* Зимние новогодние стили */

/* Стили кнопки блокировки задачи и поповера для нее */
.blockedCard {
  vertical-align: middle;
}

.blocked-popover {
  background: black;
  border-radius: 4px;
  padding: 10px;
  z-index: 100000;
  min-width: 200px;
  color: white;
}
.blocked-popover h3 {
  margin: 0 0 8px 0;
  font-size: 14px;
}
.blocked-content {
  margin: 8px 0;
}
.blocked-info {
  margin: 0;
  font-size: 12px;
  color: #aaa;
}
.loading-container {
  width: 100%;
  height: 4px;
  background: #333;
  margin-top: 8px;
  border-radius: 2px;
  overflow: hidden;
}
.loading-bar {
  height: 100%;
  width: 0;
  background: linear-gradient(90deg, #333, #9c27b0, #333);
  background-size: 200% 100%;
  animation: loading 1s linear infinite, progress 1s linear forwards;
  border-radius: 2px;
}
@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
/* Стили кнопки блокировки задачи и поповера для нее */
